doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  title BELKISSA 
  link(rel='stylesheet' href='stylesheets/style.css')
  link(href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css')
body 
  header
    .wrapper
      h1
        | BELKISSA
        span.color .
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/services') Our Services
          li
            a(href='/contacts') Contact us
  #hero-image
    .wrapper
      h2
        strong HELLO 
        br
        |         SHOPPING NOW.
  #features
    .wrapper
      ul
        li.feature-1
          h4 BABY 
          p
            | 
        li.feature-2
          h4 Femme
          p
        .clear

